<div class="group-manager-grid">
  <div class="grid-header">
    <span class="group-name">Group Name</span>
    <span class="group-members">Members</span>
    <span class="group-active">Active</span>
  </div>
  {{#if groups.length}}
    {{#each groups}}
      <div class="group-row">
        <span class="group-name">{{name}}</span>
        <span class="group-members">{{members}}</span>
        <span class="group-active">
          <input type="checkbox" class="active-toggle" data-group-id="{{id}}" {{checked active}} />
        </span>
      </div>
    {{/each}}
  {{else}}
    <p>No party groups found. Create a group actor with type 'party' to manage campaigns.</p>
  {{/if}}
</div>