<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="config-container">
    <div class="header">
      <h2>Configure Harvesting for {{actorName}}</h2>
      <p class="hint">Configure how this creature can be harvested for reagents when defeated in combat.</p>
    </div>

    <div class="config-options">
      <div class="form-group">
        <label>Creature Information:</label>
        <div class="creature-info">
          <div class="info-row">
            <span class="info-label">Type:</span>
            <span class="info-value">{{actorType}}</span>
          </div>
          <div class="info-row">
            <span class="info-label">Environment:</span>
            <span class="info-value">{{actorEnvironment}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Harvesting Type:</label>
        <div class="toggle-options">
          <div class="type-toggle {{#if config.isHarvestable}}active{{/if}}" data-type="harvestable">
            <i class="fas fa-flask"></i>
            <span>Harvestable</span>
            <div class="description">Requires skill check to obtain reagents</div>
          </div>
          <div class="type-toggle {{#if config.isLootable}}active{{/if}}" data-type="lootable">
            <i class="fas fa-box-open"></i>
            <span>Lootable</span>
            <div class="description">Creates a loot container with items and reagents</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Reagent Table:</label>
        <select name="reagentTable">
          <option value="">Select a Table</option>
          {{#if tables.length}}
            {{#each tables as |table|}}
              <option value="{{table.name}}" {{#if (eq ../config.reagentTable table.name)}}selected{{/if}}>{{table.name}}</option>
            {{/each}}
          {{else}}
            {{#each allTables as |table|}}
              <option value="{{table.name}}" {{#if (eq ../config.reagentTable table.name)}}selected{{/if}}>{{table.name}}</option>
            {{/each}}
          {{/if}}
        </select>
      </div>

      <div class="form-group">
        <label>Reagent Count:</label>
        <div class="range-field">
          <input type="range" name="reagentCount" min="1" max="5" value="{{config.reagentCount}}">
          <span class="range-value">{{config.reagentCount}}</span>
        </div>
        <div class="range-display">
          <span>1</span>
          <span>5</span>
        </div>
        <p class="hint">Maximum number of reagents that can be harvested</p>
      </div>

      <div class="form-group">
        <label>Drop Rate (%):</label>
        <div class="range-field">
          <input type="range" name="dropRate" min="0" max="100" value="{{config.dropRate}}">
          <span class="range-value">{{config.dropRate}}%</span>
        </div>
        <div class="range-display">
          <span>0%</span>
          <span>100%</span>
        </div>
        <p class="hint">Chance of obtaining reagents</p>
      </div>
    </div>

    <div class="button-row">
      <button type="button" class="cancel-btn">Cancel</button>
      <button type="button" class="save-config-btn">Save Configuration</button>
    </div>
  </div>
</form>