<form class="roll-tester-form">
  <div class="tester-container">
    <!-- Configuration Section -->
    <div class="config-section">
      <h3 class="section-header">Test Configuration</h3>
      
      <div class="form-group">
        <label>Reagent Table:</label>
        <select name="table">
          <option value="">Select a table</option>
          {{#each tables as |table|}}
            <option value="{{table.id}}" {{#if (eq ../selectedTable table.id)}}selected{{/if}}>{{table.name}}</option>
          {{/each}}
        </select>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label>Number of Rolls:</label>
          <input type="number" name="rollCount" value="{{rollCount}}" min="1" max="1000">
        </div>
        
        <div class="form-group">
          <label>Drop Rate (%):</label>
          <input type="number" name="dropRate" value="{{dropRate}}" min="0" max="100">
        </div>
      </div>
      
      <div class="quick-roll-buttons">
        <button type="button" class="quick-roll-button" data-count="1">Roll Once</button>
        <button type="button" class="quick-roll-button" data-count="10">Roll 10x</button>
        <button type="button" class="quick-roll-button" data-count="100">Roll 100x</button>
        <button type="button" class="roll-button">Roll {{rollCount}}x</button>
      </div>
    </div>
    
    <!-- Table Contents Section -->
    {{#if selectedTable}}
      <div class="table-contents-section">
        <h3 class="section-header">Table Contents</h3>
        <div class="reagent-list">
          {{#if tableContents.length}}
            {{#each tableContents as |reagent|}}
              <div class="reagent-item">
                <img src="{{reagent.img}}" class="reagent-img">
                <div class="reagent-info">
                  <div class="reagent-name">{{reagent.name}}</div>
                  <div class="reagent-weight">Weight: {{reagent.weight}}</div>
                  <div class="reagent-chance">Chance: {{reagent.percentage}}%</div>
                </div>
              </div>
            {{/each}}
            <div class="total-weight">Total Weight: {{totalWeight}}</div>
          {{else}}
            <p class="empty-table">This table has no reagents defined.</p>
          {{/if}}
        </div>
      </div>
    {{/if}}
    
    <!-- Results Section -->
    {{#if hasResults}}
      <div class="results-section">
        <div class="results-header">
          <h3 class="section-header">Roll Results</h3>
          <button type="button" class="clear-button">Clear Results</button>
        </div>
        
        <!-- Statistics -->
        <div class="statistics-container">
          <h4>Statistics ({{results.length}} total rolls)</h4>
          <div class="statistics-list">
            {{#each statistics as |stat|}}
              <div class="stat-item">
                <img src="{{stat.img}}" class="stat-img">
                <div class="stat-info">
                  <div class="stat-name">{{stat.name}}</div>
                  <div class="stat-count">Count: {{stat.count}}</div>
                  <div class="stat-percentage">Percentage: {{stat.percentage}}%</div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        
        <!-- Individual Results -->
        <div class="individual-results">
          <h4>Individual Results</h4>
          <div class="results-list">
            {{#each results as |result index|}}
              <div class="result-item" data-uuid="{{result.uuid}}">
                <img src="{{result.img}}" class="result-img" title="{{result.name}}">
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</form>